/* Custom Search */

body {
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

.input-search {
    display: inline-block;
    width: 80%;
    float: left;
    margin-right: 10px;
}

.hero-area {
    height: 600px;
    background-color: lightblue;
}

.home-search-area {
    margin-top:150px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight:300 !important;
}

.main-navbar {
    float:right !important;
}